
body{
    background-color: darkseagreen;
}

.content {
    border-style: solid;
    margin-left: 300px;
    margin-right: 300px;
    background-color: beige;
    padding-bottom: 30px;
}
h1{
    margin-bottom: 0px;
    letter-spacing: 10px;
}
h2{
    border-style: double;
    display: inline-flex;
    padding: 10px;
    margin-bottom: 0px;
}
/* Site Navigation */

a:after {
    content: "";
    display: block;
    width: 0;
    border-bottom: 1px solid;
    margin: 8px;
    transition:all 0.3s linear 0s;
}

a:hover:after {
    width: 90%;
}

.topnav{
    margin-top: 0px;
    display: flex;
    justify-content: center;
}
.topnav a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
}
.topnav ul{
    margin: 0;
    padding: 0;
}
.topnav li{
    list-style: none;
    float: left;
    padding-right: 2px;
    padding-bottom: 0px;
}
/* End Site Navigation */