body { 
    margin: 40px;
    font-family: verdana;
}

h1 { 
    font-size: 300%;
    font-family: sans-serif;
}
img {
  width: 50%;
  height: 50%;
}
hr {
    text-height: 10px;
}

.menu {
text-align:center;
}

.allergener {
    font-style: italic;
}

/* Site Navigation */

a:after {
    content: "";
    display: block;
    width: 0;
    border-bottom: 1px solid;
    margin: 0;
    transition:all 0.3s linear 0s;
}

a:hover:after {
    width: 100%;
}

.topnav{
    margin-top: 0px;
    display: flex;
    justify-content: center;
}
.topnav a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
}
.topnav ul{
    margin: 0;
    padding: 0;
}
.topnav li{
    list-style: none;
    float: left;
    padding-right: 2px;
    padding-bottom: 50px;
}
/* End Site Navigation */
